html {
    background-color: #fffaf7;
  }
  .pc {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
    background: #fffaf7;
    font-family: "Prompt-Medium";
  }
  .pc .title {
    font-style: normal;
    font-weight: 400;
    font-size: 2.292vw;
    line-height: 3.125vw;
    color: #000000;
    position: absolute;
    width: 100%;
    text-align: center;
    top: 9.583vw;
    z-index: 101;
    font-family: "Prompt-Regular";
  }
  .pc .oneBox {
    position: relative;
    height: 60.365vw;
  }
  .pc .oneBox .i1 {
    position: absolute;
    width: 82.865vw;
    height: 46.626vw;
    left: 8.594vw;
    top: 10.677vw;
    display: block;
  }
  .pc .oneBox .t1 {
    position: absolute;
    left: 36.303vw;
    top: 32.761vw;
    font-style: normal;
    font-weight: 500;
    font-size: 1.146vw;
    line-height: 1.771vw;
    color: #f65a11;
    display: flex;
    align-items: center;
  }
  .pc .oneBox .t1 .cont {
    margin-right: 0.729vw;
  }
  .pc .oneBox .t1 .line {
    width: 20vw;
    height: 0.052vw;
    background-color: #f65a11;
  }
  .pc .oneBox .t1 .nImg {
    cursor: pointer;
    width: 1.458vw;
    display: block;
  }
  .pc .oneBox .t1 .yImg {
    display: none;
    cursor: pointer;
    width: 2.083vw;
  }
  .pc .oneBox .t2 {
    position: absolute;
    left: 37.657vw;
    top: 31.354vw;
    font-style: normal;
    font-weight: 500;
    font-size: 1.146vw;
    line-height: 1.771vw;
    color: #f65a11;
    display: flex;
    align-items: center;
  }
  .pc .oneBox .t2 .cont {
    margin-right: 0.729vw;
  }
  .pc .oneBox .t2 .line {
    width: 18.386vw;
    height: 0.052vw;
    background-color: #f65a11;
  }
  .pc .oneBox .t2 .nImg {
    cursor: pointer;
    width: 1.458vw;
    display: block;
  }
  .pc .oneBox .t2 .yImg {
    display: none;
    cursor: pointer;
    width: 2.083vw;
  }
  .pc .oneBox .t3 {
    position: absolute;
    left: 36.094vw;
    top: 34.063vw;
    font-style: normal;
    font-weight: 500;
    font-size: 1.146vw;
    line-height: 1.771vw;
    color: #f65a11;
    display: flex;
    align-items: center;
  }
  .pc .oneBox .t3 .cont {
    margin-right: 0.729vw;
  }
  .pc .oneBox .t3 .line {
    width: 21.667vw;
    height: 0.052vw;
    background-color: #f65a11;
  }
  .pc .oneBox .t3 .nImg {
    cursor: pointer;
    width: 1.458vw;
    display: block;
  }
  .pc .oneBox .t3 .yImg {
    display: none;
    cursor: pointer;
    width: 2.083vw;
  }
  .pc .oneBox .t4 {
    position: absolute;
    left: 64.844vw;
    top: 26.563vw;
    font-style: normal;
    font-weight: 500;
    font-size: 1.146vw;
    line-height: 1.771vw;
    color: #f65a11;
    display: flex;
    align-items: center;
  }
  .pc .oneBox .t4 .cont {
    margin-left: 0.441vw;
  }
  .pc .oneBox .t4 .line {
    width: 9.392vw;
    height: 0.052vw;
    background-color: #f65a11;
  }
  .pc .oneBox .t4 .nImg {
    cursor: pointer;
    width: 1.458vw;
    display: block;
  }
  .pc .oneBox .t4 .yImg {
    display: none;
    cursor: pointer;
    width: 2.083vw;
  }
  .pc .oneBox .t5 {
    position: absolute;
    left: 63.854vw;
    top: 36.146vw;
    font-style: normal;
    font-weight: 500;
    font-size: 1.146vw;
    line-height: 1.771vw;
    color: #f65a11;
    display: flex;
    align-items: center;
  }
  .pc .oneBox .t5 .cont {
    margin-left: 0.441vw;
  }
  .pc .oneBox .t5 .line {
    width: 10.104vw;
    height: 0.052vw;
    background-color: #f65a11;
  }
  .pc .oneBox .t5 .nImg {
    cursor: pointer;
    width: 1.458vw;
    display: block;
  }
  .pc .oneBox .t5 .yImg {
    display: none;
    cursor: pointer;
    width: 2.083vw;
  }
  .pc .oneBox .t6 {
    position: absolute;
    left: 65.209vw;
    top: 33.281vw;
    font-style: normal;
    font-weight: 500;
    font-size: 1.146vw;
    line-height: 1.771vw;
    color: #f65a11;
    display: flex;
    align-items: center;
  }
  .pc .oneBox .t6 .cont {
    margin-left: 0.441vw;
  }
  .pc .oneBox .t6 .line {
    width: 9.323vw;
    height: 0.052vw;
    background-color: #f65a11;
  }
  .pc .oneBox .t6 .nImg {
    cursor: pointer;
    width: 1.458vw;
    display: block;
  }
  .pc .oneBox .t6 .yImg {
    display: none;
    cursor: pointer;
    width: 2.083vw;
  }




  .pc .oneBox .t7 {
    position: absolute;
    left: 57.209vw;
    top: 25.281vw;
    font-style: normal;
    font-weight: 500;
    font-size: 1.146vw;
    line-height: 1.771vw;
    color: #f65a11;
    display: flex;
    align-items: center;
  }
  .pc .oneBox .t7 .cont {
    margin-left: 0.441vw;
  }
  .pc .oneBox .t7 .line {
    width: 9.323vw;
    height: 0.052vw;
    background-color: #f65a11;
  }
  .pc .oneBox .t7 .nImg {
    cursor: pointer;
    width: 1.458vw;
    display: block;
  }
  .pc .oneBox .t7 .yImg {
    display: none;
    cursor: pointer;
    width: 2.083vw;
  }









  .pc .zz {
    z-index: 300 !important;
  }
  .pc .card1 {
    z-index: -100;
    position: absolute;
    left: 30.052vw;
    top: 17.76vw;
    display: flex;
    padding: 0.781vw;
    background-color: white;
  }
  .pc .card1 .img1 {
    width: 17.448vw;
    display: block;
  }
  .pc .card1 .box {
    margin-left: 1.25vw;
  }
  .pc .card1 .box .name1 {
    font-style: normal;
    font-weight: 500;
    font-size: 1.146vw;
    line-height: 1.146vw;
    color: #000000;
    font-family: "Prompt-Medium";
    margin-top: 2.083vw;
  }
  .pc .card1 .box .name2 {
    margin-top: 0.417vw;
    font-style: normal;
    font-weight: 300;
    font-size: 1.146vw;
    line-height: 1.146vw;
    color: #000000;
    font-family: "Prompt-Light";
  }
  .pc .card1 .box .name3 {
    margin-top: 3.542vw;
    font-style: normal;
    font-weight: 300;
    font-size: 0.833vw;
    line-height: 0.833vw;
    color: #000000;
    font-family: "Prompt-Light";
  }
  .pc .card1 .img2 {
    width: 1.25vw;
    height: 1.25vw;
    cursor: pointer;
    display: block;
    margin-left: 3.49vw;
  }
  .mobile-store .cityBox1 {
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 54.4vw;
    left: 73.333vw;
    flex-direction: column;
    align-items: center;
  }
  .mobile-store .cityBox1 .name {
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 2.4vw;
    text-align: center;
    color: #f65a11;
  }
  .mobile-store .cityBox1 img {
    margin-top: 2.133vw;
    width: 3.2vw;
    height: 3.2vw;
    display: block;
  }
  .mobile-store .cityBox2 {
    visibility: hidden;
    position: absolute;
    display: flex;
    left: 69.067vw;
    top: 68vw;
    flex-direction: column;
    align-items: center;
  }
  .mobile-store .cityBox2 .name {
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 2.4vw;
    text-align: center;
    color: #f65a11;
  }
  .mobile-store .cityBox2 img {
    margin-top: 2.133vw;
    width: 3.2vw;
    height: 3.2vw;
    display: block;
  }
  .mobile-store .cityBox3 {
    visibility: hidden;
    position: absolute;
    display: flex;
    left: 74.4vw;
    top: 68.267vw;
    flex-direction: column;
    align-items: center;
  }
  .mobile-store .cityBox3 .name {
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 2.4vw;
    text-align: center;
    color: #f65a11;
  }
  .mobile-store .cityBox3 img {
    margin-top: 2.133vw;
    width: 3.2vw;
    height: 3.2vw;
    display: block;
  }
  .mobile-store .cityBox4 {
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 66.667vw;
    left: 62.933vw;
    flex-direction: column;
    align-items: center;
  }
  .mobile-store .cityBox4 .name {
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 2.4vw;
    text-align: center;
    color: #f65a11;
  }
  .mobile-store .cityBox4 img {
    margin-top: 2.133vw;
    width: 3.2vw;
    height: 3.2vw;
    display: block;
  }
  .mobile-store .cityBox5 {
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 63.467vw;
    left: 70.933vw;
    flex-direction: column;
    align-items: center;
  }
  .mobile-store .cityBox5 .name {
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 2.4vw;
    text-align: center;
    color: #f65a11;
  }
  .mobile-store .cityBox5 img {
    margin-top: 2.133vw;
    width: 3.2vw;
    height: 3.2vw;
    display: block;
  }
  .mobile-store .cityBox6 {
    visibility: hidden;
    position: absolute;
    display: flex;
    top: 62.667vw;
    left: 55.467vw;
    flex-direction: column;
    align-items: center;
  }
  .mobile-store .cityBox6 .name {
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 2.4vw;
    text-align: center;
    color: #f65a11;
  }
  .mobile-store .cityBox6 img {
    margin-top: 2.133vw;
    width: 3.2vw;
    height: 3.2vw;
    display: block;
  }
  .mobile-store .box {
    position: relative;
    background-color: #fffaf7;
    padding-top: 12.267vw;
  }
  .mobile-store .box .title {
    position: absolute;
    width: 100%;
    text-align: center;
    font-style: normal;
    font-weight: 400;
    font-size: 5.333vw;
    line-height: 8vw;
    color: #000000;
    font-family: "Prompt-Regular";
    padding-top: 10.667vw;
  }
  .mobile-store .box .bg {
    width: 90vw;
    display: none;
  }
  .mobile-store .swiper-container-mobile {
    width: 69.333vw;
    margin-left: 15.467vw;
    overflow: hidden;
    position: absolute;
    top: 93.333vw;
  }
  .mobile-store .swiper-container-mobile .mobileSwiper {
    width: 100%;
    height: 66.667vw;
  }
  .mobile-store .swiper-container-mobile .mobileSwiper .swiper-slide {
    background-color: #fff;
  }
  .mobile-store .swiper-container-mobile .mobile-swiper {
    width: 58.667vw !important;
    margin-left: 5.333vw;
    margin-top: 4.267vw;
    display: block;
  }
  .mobile-store .swiper-container-mobile .swiper-bottom-text-m {
    font-family: "Prompt-Light";
    font-style: normal;
    font-weight: 300;
    font-size: 4vw;
    line-height: 6.133vw;
    color: #000000;
    margin-top: 4.267vw;
    margin-left: 5.333vw;
  }
  .mobile-store .swiper-container-mobile .swiper-bottom-text-m .t1 {
    font-style: normal;
    font-weight: 500;
    font-size: 4vw;
    line-height: 4vw;
    margin-bottom: 1.067vw;
    color: #000000;
    font-family: "Prompt-Medium";
  }
  .mobile-store .swiper-container-mobile .swiper-bottom-text-m .t2 {
    font-style: normal;
    font-weight: 300;
    font-size: 4vw;
    line-height: 4vw;
    color: #000000;
    font-family: "Prompt-Light";
    margin-bottom: 4.267vw;
  }
  .mobile-store .swiper-container-mobile .swiper-bottom-text-m .t3 {
    font-style: normal;
    font-weight: 300;
    font-size: 3.2vw;
    line-height: 4.267vw;
    color: #000000;
    font-family: "Prompt-Light";
  }
  .mobile-store .swiper-container-mobile .swiper-pagination-m {
    width: 24.533vw;
    margin-left: 22.4vw;
    display: flex;
    justify-content: space-between;
    margin-top: 10.667vw;
  }
  .mobile-store .swiper-container-mobile .swiper-pagination-m .swd {
    width: 2.133vw;
    height: 0.267vw;
    top: 1745.09px;
    opacity: 0.45;
    background-color: #666666;
  }
  .mobile-store .swiper-container-mobile .swiper-pagination-m .activeSwd {
    width: 8.533vw !important;
    background-color: #f65a11 !important;
  }
  